@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@100..900&display=swap');
*{
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
  margin: 0;
  position: relative;
  background-image: url(../background_photo/the_neighbourhood.jfif);
  background-size: cover;
  background-position: center;
  isolation: isolate;
}
html::after{
  content: "";
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  inset: 0;
  background: pink;
}
.nav{
  text-align: center;
  height: 10vh;
  width: 95vw;
  margin: 3vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  font-size: 3.5vh;
  height: 7.5vh;
  width: 10vw;
  padding: 0 3vw;
  background: white;
  border: 0.25vh solid white;
  border-radius: 0.5vh;
  transition: 0.3s;
  margin: 0 0.5vw;
}
.btn:hover{
  background: #c6c6c6;
  border: 0.25vh solid #c6c6c6;
  scale: 1.05;
}
#disabled-btn{
  background: #3c91ff;
  color: white;
  border: 0.25vh solid #3c91ff;
  scale: 1.05;
}
#prev-btn, #next-btn{
  background: #3c91ff;
  border: 0.25vh solid #3c91ff;
  color: white;
}
#prev-btn:hover, #next-btn:hover{
  background: #0c76ff;
  border: 0.25vh solid #0c76ff;
}
.music_player{
  height: 50vh;
  width: 95vw;
  margin: 0 auto;
  margin: 3vh auto;
}
.images{
  width: 35%;
  height: 30%;
  border-radius: 10%;
}
.text{
  font-size: 6vh;
  width: 35%;
  height: 25%;
  flex-grow: 0.7;
  color: black;
}
#text3{
  padding-top: 13vh;
}
.container{
  display: flex;
  width: 95vw;
  height: 260vh;
  flex-wrap: wrap;
  margin: 3vh auto;
  justify-content: space-evenly;
  row-gap: 5vh;
}